<a href="https://colab.research.google.com/github/robokidkod/VeriMadenciligi/blob/master/modul2final-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Yorum Satırları

<br>Python’da yazdığımız kodların yanında hatırlatma veya açıklama yapmak için, o an kullanmayacağımız bir kod satırını pasif hale getirmek için veya kodunuzda süsleme yapmak amacıyla yorum satırları ekleyebiliriz. <br>Yorum satırları Python yorumlayıcısı tarafından dikkate alınmaz ve yorumlanmaz. Yazdığınız kod ile ilgili bu tür açıklama satırları daha sonra sizin veya kodunuzunu paylaştığınız  kişilerin kodunuzu anlamanıza yardımcı olur. 
<br>Python’da tek satırlık açıklama için # işareti kullanılır. # işareti kullandığınızda o satırdaki metin kod olarak işlenmez.

In [0]:
#Bu kod ekrana yazı yazılmasını sağlamaktadır.
print ("Konu: Yorum satırlarını kullanma")
#Her satırın başına # işareti ekleyerek 
#Alt alta yorum satırları oluşturabilirsiniz

Konu: Yorum satırlarını kullanma

İsterseniz aynı satırda da kullanabilirsiniz. Yorum satırı # işareti ile başlar (öndeki kod çalışır) daha sonra satır sonuna kadar yorum satırı olarak ele alınır.

In [0]:
print (2+3) # Bu kod satırı ekrana 2 sayının toplamını yazar

5

Her satırın başına # işareti ekleyerek alt alta yorum satırları oluşturabilirsiniz.<br>
Yorum satırında özel karakterler etkisizdir.<br>
Yorum satırları Python yorumlayıcısı tarafından dikakte alınmazlar.<br>
Birden fazla yorum satırı kullanılacaksa yorumlar üçlü tek tırnak veya üçlü çift tırnak blokları arasına yazılır.

In [0]:
'''Python’da birden fazla
açıklama satırı
kullanmak için üçlü tek tırnak veya çift tırnak
kullanılır açıklama satırını bitirmek için 
aynı şekilde kullanılır'''

'Python’da birden fazla\naçıklama satırı\nkullanmak için üçlü tek tırnak veya çift tırnak\nkullanılır açıklama satırını bitirmek için \naynı şekilde kullanılır'

Konsol çıktısında açıklamalar birden fazla satırda olduğu için satır sonlarına \n kaçış dizisi karakterini konsol otomatik olarak eklemiştir. Aynı yorum satırını """yorum satırları""" üçlü çift tırnak kullanarak da yapabilirsiniz. Yorum satırları içinde kaçış dizisi karakterlerinin de çalışmadığını unutmayınız.  Yorum satırlarını Python yorumlayıcı görmez ancak aşağıdaki iki kod satırı yorum satırı olarak değerlendirilmez.

In [0]:
#!/usr/bin/env python3 ve 
# -*- coding: utf-8 -*-

Yorum satırları süsleme amacıyla da kullanılabilir. Bazı program dosyalarındaaşağıdaki gibi süslü açıklamalar, etiketler görebilirsiniz.

In [0]:
'''
#############################################################
##**********************************************************************************##
##                                            Python Öğreniyorum                                      ##
##                                                       Python 3                                              ##
##**********************************************************************************##
############################################################## 
'''

'\n#############################################################\n##**********************************************************************************##\n##                                            Python Öğreniyorum                                      ##\n##                                                       Python 3                                              ##\n##**********************************************************************************##\n ############################################################# \n    '

# Değişkenler

Kod yazarken hep aynı değerler üzerinde işlemler yapmayız. Kullanıcıdan aldığımız farklı değerler üzerinde işlemler yaparız. Örnek kullanıcıya ismiyle merhaba diyeceğimiz bir programda kullanıcıların isimleri farklı olacağı için bunları depolamak için bellekte belirli bir yer ayrılır. Bir değişken bir isim, sayı veya farklı türdeki bir veri için bellekte ayrılan yeri temsil eder. Bir değişkenin veri türüne bağlı olarak, yorumlayıcı belleği ayırır ve ayrılmış bellekte hangi türde verilerin saklanabileceğine karar verir. Bu nedenle, değişkenlere farklı veri türleri atayarak, bu değişkenlerde tamsayı, ondalık sayı, dizi veya karakter depolayabilirsiniz.

Python’da değişkenlerinin veri tiplerini (bu konuyu ayrıntılı olarak göreceğiz) açıkça  bildirmeye gerek yoktur. Bir değişkene değer atadığınızda bildirim otomatik olarak gerçekleşir. Eşittir işareti (=) değişkenlere değer atamak için kullanılır. “=” Operatörünün solundaki değişkenin adı ve = operatörünün sağındaki ise bu değişkene atanacak değeri ifade eder.

In [0]:
#sayi1 değişkenine 5 sayisini atadık
sayi1=5
print('Değişkenin içindeki sayı: ', sayi1)
sayi1=10
print('Değişkenin içindeki sayı: ', sayi1, 'oldu')
sayi1='Murat'
print ('Değişkenin içindeki değer: ', sayi1, 'oldu')
#Python'da değişkenin veri tipi ona değer atandığında tanımlandığı için aynı değişkene hem karakter dizisi hem de sayısal değerler atanabiliyor.

Değişkenin içindeki sayı:  5
Değişkenin içindeki sayı:  10 oldu
Değişkenin içindeki değer:  Murat oldu

Değişkenlere değerler atanırken kullanım amacına göre aynı değeri atama, tek satırda farklı değerler atama gibi birden fazla yöntem kullanılabilir aşağıda buna ilişkin kodlar yer almaktadır.

In [0]:
#Aşağıda 3 değişkene de tek satırda 1 değeri atanmıştır. 
a = b = c = 1
print ('1. sayı=', a)
print ('2. sayı=', b)
print ('3. sayı=', c)

1. sayı= 1
2. sayı= 1
3. sayı= 1

In [0]:
#Değişkenler alt alta yazılır ve değerleri de karşılarına yazılır   
adi, soyadi, yasi='Canan', 'DAĞDEVİREN', 34
print ("Adı=", adi)
print ("Soyadı=", soyadi,)
print ("Yaşı=", yasi)

Adı= Canan
Soyadı= DAĞDEVİREN
Yaşı= 34

In [0]:
#Değişkenlere  değer  atamak için aralarına noktalı virgül ";" eklenir
adi='Aziz'; soyadi='SANCAR'; yasi=73
print ("Adı=", adi)
print ("Soyadı=", soyadi,)
print ("Yaşı=", yasi)

Adı= Aziz
Soyadı= SANCAR
Yaşı= 73

In [0]:
Değer atanmayan bir değişken kullanılırsa Python hata verir.

In [0]:
print(yenisayi)
#Python değişkenleri değer atandığında tanımladığı için aşağıdaki hata mesajını alırsınız

NameError: ignored

Değişkenler özelliklerine göre yoksa Python hata verir.

In [0]:
sayi1=1
metin1='deneme'
print(sayi1+metin1) #Bir sayı ile bir metini, kelimeyi toplamaya çalışıyoruz.

TypeError: ignored

Değişken adı verilirken uyulması gereken bazı kurallar ve kurallar kadar katı olmasa da bazı yararlı tavsiyeler vardır.<br> Değişken adlandırma kuralları
<br>
Değişkenler bir harf (a - z, A - Z) veya alt çizgi (_) ile başlamalıdır. Bunların dışında sayı veya başka bir karakter olmaz.<br>
Değişken adında harf, rakam veya _ Büyük veya Küçük harf  olabilir. 
<br>
Değişken adları herhangi bir uzunlukta olabilir.
<br>Değişken adı olarak kullanamayacağınız bazı özel kelimeler vardır (if, while, do ...). Bu özel kelimeler Python tarafından farklı amaçlar için kullanılır. <br>

In [0]:
#Uygun değişken isimleri
sayi1=1
Sayi1=2
# sayi1' ekrana yazdırırsanız çıktı ne olur?
print (sayi1)
print(Sayi1)
#Büyük harf ve küçük harf kullanarak tanımladığınız değişkenlerin adı aynı olsa bile farklı değişkenler olduğunu unutmayın
sayı1=3
#Python  değişken adlandırma da Türkçe karakterler kullanmamıza izin vermektedir.
print(sayı1)

1
2
3

In [0]:
1sayi=5 #hatalı değişken adı.
print (1.sayi)

SyntaxError: ignored

**Değişken Tanımlada Bazı Tavsiyeler**<br>
Değişken tanımlarında bazı standartlar vardır. Bu standartlar proramcıların daha kolay çalışmasını sağlar. Değişkenin adı, içeriği hakkında bilgi vermelidir. Böylece ortak projelerde veya programcının kendi için anlaşılması kolay olur. Değişkenlerin ve aralarındaki ilişkinin bir bakışta anlaşılmasını kolaylaştırır. Birden fazla kelimenin kullanılacağı değişken adlarında kelimeler buyuk harfle başlayabilir.
Camel standardında (muhtemelen değişken adları deve hörgücüne benzediği için adı bu) değişkenin adına küçük harfle başlar ve sonraki her kelime büyük harfle başlar.<br>

In [0]:
adi= "Mecnun"
soyadi="Çınar"
dogumYili=1981
universiteMezunuMu=True
universiteyeBasladigiYil=1999
mezuniyetNotu=2.00
print ('Adı: ', adi)
print ('Soyadı: ', soyadi)
print('Üniversite Mezunu mu? ', universiteMezunuMu)
print('Üniversiteye Başladığı Yıl: ', universiteyeBasladigiYil)
print('Mezuniyet Notu: ', mezuniyetNotu)

Adı:  Mecnun
Soyadı:  Çınar
Üniversite Mezunu mu?  True
Üniversiteye Başladığı Yıl:  1999
Mezuniyet Notu:  2.0

# Veri Tipleri

Veri tiplerini anlayabilmek için aşağıdaki kod satırını inceleyelim. Aşağıda bir sayı ile bir karakter dizisi (veri tipleri farklı) üzerinde operatörler yardımıyla işlemler yapmaya çalışacağız.

In [0]:
sayi1=5
sayi2='3' #sayi2 değişkenin tek tırnak içinde verildiğine ve bir karakter dizisi olduğuna dikkat ediniz.
print (sayi1+sayi2)

TypeError: ignored

Kodu çalıştırdığımızda bir hata mesajı alırız. Aritmetik bir operatörü kullanılırken bir sayı ile bir karekter dizisini (ikinci değişkenin adı sizi yanıltmasın) toplamaya çalıştık. Yapmaya çalıştığımız bir sayı ile bir harfi toplamak gibi ve bu yüzden hata ile karşılaştık. Veri tipleri bize değişkenler ve değerleri üzerinde hangi işlemleri yapabileceğimizi belirtir.
*Operatörler konusunda * operatörü ile ilgili bir ayrıntıdan bahsetmiştik.

In [0]:
sayi1=5
sayi2='3' 
#sayi2 değişkenin tek tırnak içinde verildiğine ve bir karakter dizisi olduğuna dikkat ediniz.
print (sayi1*sayi2)
#Sizce nasıl bir sonuç çıkacak

33333

Örnekte görüldüğü gibi kodumuz çarpma işlemi yapmadı. Çünkü ortada iki sayısal değer yok. ikinci örnekte 3 sayısını bir karakter olarak 5 defa yazdı. <br>Python'da değişkenlere değer atanırken veri tipleri belirtilmez. Python atadığınız değere göre veri türünü kendisi belirler. Ancak programlama yaparken veri tiplerini bilmek ve ona göre kullanmak gerekir.

<table >
<tr><td>Veri Tipi	</td> <td>Kısaltma</td><td>Değer Aralığı</td><td>Açıklama</td>
</tr>
<tr><td>Integer</td><td>int</td><td>64 bittir<td>Tam sayı veri tipidir. </td></tr>
<tr><td>Long</td><td>long</td><td>32 bittir<td>Uzun tam sayı veri tipidir. </td></tr>
<tr><td>Float	 </td><td>float</td><td>64 bittir<td>İki basamaklı ondalıklı sayı ver tipi</td></tr>
<tr><td>Complex	 </td><td>complex</td><td>Karmaşık sayı<td>A + Bj şeklinde kullanılır.</td></tr>
<tr><td>String	 </td><td>string</td><td>Karakter dizilerini yani metinleri göstermek için kullanılır.<td>Çift tırnak veya tek tırnak içinde gösterilir</td></tr>
</tr>
<tr><td>Boolean	 </td><td>bool</td><td>Sadece True veya False değeri alır.<td>int(True)=1 iken int(False)=0 dır.</td></tr>
<tr><td>List	 </td>liste<td>-</td><td>Farklı veri türleri içerebilir.<td>listem=['Mehmet', 24, 'Mühendis', True]</td></tr>
<tr><td>Tuple	 </td><td>demet</td><td>Farklı veri türleri içerebilir.<td>demet1=('Mehmet', 24, 'Mühendis', True)</td></tr>
<tr><td>Dictionary	 </td><td>sözlük</td><td>Farklı veri türleri içerebilir.<td>sozluk={'adi': 'Mehmet','yasi'=24, 'meslekUnvani':'Mühendis', 'askerlikDurumu': True}</td></tr>
<table>

In [0]:
#Pythonda veri tipleri otomatik olarak belirlenir
piSayisi=3.14
rCm=2
alan=3.14*2**2
print('Yarıçapı 2 olan dairenin alanı ', alan, ' cm 2 dir' )

Yarıçapı 2 olan dairenin alanı  12.56  cm 2 dir

**type () metodu kullanımı**<br>
Python her ne kadar veri tiplerini otomatik olarak verse de bu veri tiplerini kontrol etmemiz ve bazen de değiştirmemiz gerekebilimektedir. Bir değişkenin veri tipi type() komutuyla kontrol edilir. type (degiskenAdi) şeklinde yazılır.

In [23]:
sayi1=5
sayi2=2147483648000000000000000000000000000000000000000000000000
sayi3=10.556
metin1="1" 
#metin1 değişkenine tırnak içinde verdiğimiz sayının bir karakter, string olduğuna dikaket edin
sayi4=4+5j
askerlikYaptiMi=True
#True doğru, 1, evet anlamındadır.
print ("1. değişkenin veri tipi: ", type(sayi1))
print ("2. değişkenin veri tipi:", type(sayi2))
print ("3. değişkenin veri tipi: ", type(sayi3))
print ("4. değişkenin veri tipi: ", type(metin1))
print ("5. değişkenin veri tipi: ", type(sayi4))
print ("6. değişkenin veri tipi: ", type(askerlikYaptiMi))
listem=['Mehmet', 24, 'Mühendis', True]
print ("7. değişkenin veri tipi: ", type(listem))
demet1=('Mehmet', 24, 'Mühendis', True)
print ("8. değişkenin veri tipi: ", type(demet1))
sozluk={'adi': 'Mehmet','yasi': 24, 'meslekUnvani':'Mühendis', 'askerlikDurumu': True}
print ("9. değişkenin veri tipi: ", type(sozluk))

1. değişkenin veri tipi:  <class 'int'>
2. değişkenin veri tipi: <class 'int'>
3. değişkenin veri tipi:  <class 'float'>
4. değişkenin veri tipi:  <class 'str'>
5. değişkenin veri tipi:  <class 'complex'>
6. değişkenin veri tipi:  <class 'bool'>
7. değişkenin veri tipi:  <class 'list'>
8. değişkenin veri tipi:  <class 'tuple'>
9. değişkenin veri tipi:  <class 'dict'>

**Python string (karakter dizisi)  veri tipi**<br>
Karakter dizisi kullanıcıdan alınan değerleri metin formatında tutulduğu veri tipleridir. Python karakter dizisi oldukça kullanışlı özeliklere sahiptir. Bir karakter dizisini ekrana yazdırılabilir. başka bir karakter dizisiyle birleştirebilirsiniz. len() metodunu kullanarak bir karakter dizisinin uzunlupunu bulabilirsiniz.

In [10]:
metin1 = 'Merhaba '
metin2= 'Mars'
print (metin1)            #metin karakter dizisinin ifadesinin tamamını yazar
print (metin1 * 2)                      # ifadeyi 2 defa yazar
print (metin1 + metin2)   # iki ifadeyi birleştirir
print ('metin1 değişkenindeki değerin uzunluğu:', len(metin1))
#boşluğun da bir karakter olduğunu gözden kaçırmayın.

Merhaba
Merhaba Merhaba
Merhaba Mars
metin1 değişkenindeki değerin uzunluğu: 8

**Karakter Dizilerinde (string) Dilimleme İşlemleri** 
</br>
Bir karakter dizisinin içindeki karakterlere tek tek veyabelirli bir aralıkta erişilebilir. Köşeli parantez içinde [] tek bir sayı verildiğinde bu karakter dizisinin indisini ifade eder. İndis numarası 0 dan başlayarak karakterin metindeki kaçıncı karakter olduğunu gösterir.  metin[0] ifadesi metin değişkenindeki 1. karakteri verir. Belirli bir aralıktaki karakteri alırken ise başlangıç indisi:bitiş indisi şeklinde ifade edilir. metin[0:5] metin değişkeninde indisi 0, 1, 2,3 ve 4. olan karakterleri dilimler. Bitiş indisi dilimlemeye dahil edilmez. İndislerin 0'dan başladığını unutmayınız.<br>
Başlangış indisi verilmeyen karakter dizisinde Örnek: metin[:7] başlangıç indisi otomatik olarak  sıfır (0) olur. Örnekte 0, 1, 2, 3, 4, 5 ve 6. karakterlerden oluşan bir metin verir. 
<br> Örnek: metin[:7] 
Bitiş indisi verilemeyen karakter dizisinde 
<br>
Negatif İndis Sayıları:  Karakter dizisine sondan başlandığını ifade eder.   metin[-1] karakter dizisinin en sonundaki karakteri verir. metin [-2] ise en sondan ikinci karakteri verir.<br>
Karakter dizilerinde indisleri düzenli atlayarak dilimleme yapabiliriz.
metin[0:8:2] : 0'dan başyarak 0, 2, 4 ve 6 indis numaralı karakterleri dilimler.

In [11]:
metin='Merhaba Mars'
print (metin[0])         # ifadenin ilk karakterini yazar
print (metin[4:7])      # ifadenin 5, 6 ve 7. karakterlerini yazar
print (metin[8::])       # 9. karakterden sonuncu karaktere kadar yazar
print (metin[-2])        # karakter dizisinin en sondan ikinci karakterini yazar
print (metin [:7])       # indisi 0' dan 7'ye kadar olan (7 dahil değil) karakterleri yazar
print (metin[8:])        # başlangıç indisinden sonra tüm karakterleri yazar
print(metin[0:8:2])     # 0, 2, 4 ve 6 indis numaralı karakterleri dilimler

M
aba
Mars
r
Merhaba
Mars
Mraa

Liste, demet ve sözlükler kapsamlı konular olduğu için ayrı bölümler halinde verilmiştir.

**Veri Tiplerini Dönüştürmek**<br>

Veri tiplerinde gördüğümüz gibi farklı veri tipleri bulunmaktadır. Tam sayılarlar işlem yapacağımızda integer veri tipini kullanırken, kesirli sayılarla işlem yapacağımızda float veri tipini kullanmaktayız. Veri türüne göre etkili işlemler yapabilmek için bu gereklidir.  İşlemleri yaparken (örneğin input ile kullanıcıdan veri alırken) bazen içinde sadece rakamlar bulunan string ifadeyi sayısal veri tipine dönüştermemiz bazen de bunun tersini yapmamız gerekir. Bunun için bazı fonksiyonlar bulunmaktadır. Konuyla ilgili temel fonksiyonlar şunlardır:<br>
int() : Veri tipini integer'a çevirir.<br>
float(): Veri tipini float'a çevirir. <br>
str(): Veri tipini karakter dizisine çevirir.<br>
Özellikle sayısal işlemlerde çıkan sonucun niteliğine göre python veritipini oluşturur. İnteger bir sayıyla float bir sayıyı çarptığınızda sonuç doğal olarak flaot tipinde olacağı için Python bu veri tipini otomatik olarak belirler. <br>Aşağıdaki örnekte iki sayı tırnak içnde verilmiştir.

In [17]:
metin1='5'
metin2='3'
print (metin1+metin2)

53

Yukarıda kullanılan değerler tırnak içinde verildiğinden dolayı string veri tipindedir. Sonuç olarak iki karakteri yan yana yazacaktır.
Şimdi ki değişkenin veri tiplerini dönüştürelim. Veri tipi dönüştürüldüğünd iki sayısal değer üzerinde toplama işlemi yapılmış olur.

In [0]:
print(int(metin1)+int(metin2))

Veri tipi dönüşümünde bazı değerlerde kayıplar olabilir. Veri tipi kullandığınız değer uyumlu olmalıdır. Aşağıdaki örnek pi değerini float ve integer veri tiplerinde kullandığımızda çıkan sonuca dikkat edelim.

In [0]:
piDegeri=3.14
print ('Veri Tipi: ',type(piDegeri))
#3.14 değerini verdiğimizde piDegeri float veri tipi olarak tanımalancaktır.
yariCap=5
daireninAlani=((piDegeri*2)*yariCap)
print('Dairenin Alanı (float)=', daireninAlani)
piDegeriInt=(int(piDegeri))
# int(piDegeri*2) ifadesi float değeri int veri tipini dönüştürüldü.
print('Int veri tipine dönüştürülen piDegeri: ', piDegeriInt)
daireninAlani=((piDegeriInt*2)*yariCap)
print('Dairenin Alanı (int)=', daireninAlani)

Boolean veri tipleri sayısal veri tiplerine , string veri tipine dönüştürülebilir.

In [26]:
askerlikYaptiMi=True
print('Askerlik yaptı mı?', askerlikYaptiMi)
askerlikYaptiMiInt=int(askerlikYaptiMi) #integer tipine dönüştürdük
print('Askerlik yaptı mı?', askerlikYaptiMiInt)
askerlikYaptiMiStr=str(askerlikYaptiMi) #string tipine dönüştürdük
print('Askerlik yaptı mı?', askerlikYaptiMiStr)
#Çıktı olarak True verecek ancak bu boolean tipinde değildir.

Askerlik yaptı mı? True
Askerlik yaptı mı? 1
Askerlik yaptı mı? True

# Operatörler
Pythonda değerler üzerinde aritmetiksel, matıksal işlemler yapmak için ilişkisel karşılaştırmalar vb. diğer işlemler yapmak için operatör (işleçler) adı verilen semboller veya özel sözcükler kullanılır. Bu bölümde temel operatörleri tanıtacağız.

**Aritmetik Operatörler**
<table >
<tr><td>İşaret	</td> <td>işlem</td><td>Örnek</td>
<td>Sonuç</td></tr>
<tr><td>+	</td> <td>Toplama </td><td>5+3</td>
<td>8</td></tr>
<tr><td>-	</td> <td>Çıkarma</td><td>5-3</td><td>2</td>
</tr>
<tr><td>* </td> <td>Çarpma</td><td>5*3</td>
<td>15</td></tr>
<tr><td>/	</td> <td>Bölme</td><td>5/3</td>
<td>1.6666666666666667</td></tr>
<tr><td>**</td> <td>Kuvvet</d><td>5**3</td><td>125</td>
</tr>
<tr><td>//</td> <td>Tam sayı bölme</td><td>5//3</td><td>1</td>
</tr>
<tr><td>%</td> <td>Mod</td><td>5%3</td><td>2</td>
</tr>
<table>

**Toplama (Operatörü)**<br>
İki veya daha fazla sayısal değeri aritmetik olarak toplamak için kullanılır. Sayısal değerler integer veya float tipinde olabilir.

In [14]:
print (5+3)
print (5+3+3)
sayi1=10
print (sayi1+5)
#Aynı şekilde değişken kullanarak da yapabiliriz.
sayi2=10.34
print (sayi1+sayi2+5.5) #farklı veri tiplerindeki sayıları ve değişkenleri de kullanabiliriz

8
11
15
25.34

Toplama operatörünün farklı bir kullanımı da karakter dizilerindedir. İki veya daha fazla karakter dizisini birleştirmek için kullanılabilir.

In [16]:
print ('Merhaba ' + 'Mars')
metin1='Merhaba ' + 'Mars' + ' nasılsın?'
print(metin1)

Merhaba Mars
Merhaba Mars nasılsın?

**Çıkarma Operatörü**<br>
Çıkarma operatörü bir sayıdan diğerini çıkarmak için kullanılır.

In [18]:
print(5-3)
sayi1=5
sayi2=3
print(sayi1-sayi2)

2
2

 **Çarpma Operatörü**<br>
 Çarpma operatörü iki veya daha fazla sayıyı çarpmak için kullanılır.

In [20]:
print(5*3)
print(5*3*2)
sayi1=5
sayi2=3
print(sayi1*sayi2)

15
30
15

Çarpma operatörü toplama operatöründe olduğu gibi karakter dizilerinde farklı bir amaç için kullanılmaktadır. Bir karakter dizisini istediğinizi kadar yazdırmak için kullanabilirsiniz

In [0]:
print (100*'MS')

MSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMSMS

**Bölme Operatörü**<br>
İki sayıyı birbirine bölmek için kullanılır.

In [21]:
print (5/3)

0.8333333333333334

**Kuvvet (\*\*) Alma**<br>
Bir sayının kuvvetini almak için kullanılır. Bir sayının kuvveti o sayının kendisiyle kuvvet kadar çarpılmasıyla bulunur. 5\*\*3=5\*5\*5

In [0]:
print(5**3)

125

**Tam Bölüm (//) Operatörü** 
İki sayının birbirine tam bölüm sonucunu verir. Bölüm ondalıklı sayı ise ondalıklı kısmını almaz.

In [0]:
print (121.00//3)

40.0

**Mod Alma (%) Operatörü** 
İki sayının birbirine tam bölüm sonucunu verir. Bölüm sonucu ondalıklı sayı ise ondalıklı kısmını almaz.

In [22]:
print (5%3) #Sayının 3 ile bölümünden kalan.
print (9%2) #Kalan 0 ise sayı çifttir.

2
1

**İlişkisel Operatörler**
<br>
İlişkisel operatörler değerler arasındaki ilişkiye kontrol ederek sonucun boolean bir değer Doğru veya Yanlış (True, False)
 döndürür. True şartın sağlandığı anlamına gelirken, False ise ilişkinin koşulun sağlanmadığı anlamına gelir.<table >
<tr><td>İşaret	</td> <td>işlem</td><td>Örnek</td>
<td>Sonuç</td></tr>
<tr><td>==</td> <td>Eşittir</td><td>5==3 </td><td>False<td>
</tr>
<tr><td>!=</td> <td>Eşit değildir </td><td>5!=3 </td><td>True<td></tr>
<tr>
<td>></td> <td>Büyüktür </td><td>5>3 </td><td>True<td>
</tr>
<tr>
<td><</td> <td>Küçüktür </td><td>5<3 </td><td>False<td>
</tr>
<tr>
<td>>=</td> <td>Büyük veya eşittir </td><td>3>=3 </td><td>True<td>
<tr>
<td><=</td> <td>Küçük veya eşittir </td><td>5<=3 </td><td>False<td>
<tr>
<td>is</td> <td>değerler eşit mi?</td><td>'Elif' is 'elif' </td><td>False</td></tr>
<tr>
<td>is not</td> <td>Değerler eşit değil</td><td>'Elif' is not 'elif' </td><td>False</td></tr>
<tr>
<td>in</td> <td>İçeriyor</td><td>'bil' in 'bilişim' </td><td>True</td>
</tr>
<tr>
<td>not in</td> <td>İçermiyor</td><td>'bil' in 'bilişim' </td><td>False</td>
</tr>
<table>

**Eşittir (==) Operaötürü**
<br>
İki değerin birbirine eşit olup olmadığını anlamak için kullanılır. iki değer birbirine eşitse True, değilse False değeri döndürür.

In [0]:
print(5==3)
#değişkenlere atadığımız değerleri de aynı şekilde kontrol edebiliriz
sayi1=5
sayi2=3
print(sayi1==sayi2)
print(sayi1==5)

False
False
True

== karakter dizilerinde de değerlerin eşitliğini kontrol etmek için kullanılır.

In [0]:
print('Emre'=='emre')
# Küçük büyük harf duyarlılığına (case sensetive) dikkat edin.
metin1='Emre'
metin2='emre'
print(metin1==metin2)
print(metin1=='Emre')

False
False
True

**Eşittir (!=) Operaötürü**<br>
!= operatörü iki değerin birbirinden farklı olup olmadığını anlamak için kullanılır. == operatörünün tersine değer birbirine eşitse False, değilse True değeri döndürür.

In [0]:
print(5!=3)
sayi1=5
sayi2=3
print(sayi1!=sayi2)
print(sayi1!=5)
# Çıktıların == operatörünün tersi olduğuna dikkat edin!

True
True
False

!= karakter dizilerinde de değerlerin farklılığını kontrol etmek için kullanılır.

In [0]:
print('Emre'!='emre')
# Küçük büyük harf duyarlılığına (case sensetive) dikkat edin.
metin1='Emre'
metin2='emre'
print(metin1!=metin2)
print(metin1!='Emre')
# Çıktıların == operatörünün tersi olduğuna dikkat edin!

True
True
False

**Büyüktür (>) Operatörü**<br>
Büyüktür > operatörü sayısal iki değeri karşılaştırmak için kullanılır. 1. sayı 2. sayıdan büyükse True değilse False değerini döndürür.

In [0]:
sayi1=6.06
sayi2=6.07
print(sayi1>sayi2)
sayi2=6
# değişkene yeni değer atadığımızı gözden kaçırmayın.
print (sayi1>sayi2)
sayi2=6.06
print(sayi1>sayi2)
#İki sayı birbirine eşit bile olsa 1. sayı büyük olmadığı için False değeri döndürür.

False
True
False

**Küçüktür (<) Operatörü**<br>
Küçüktür < operatörü sayısal iki değeri karşılaştırmak için kullanılır. 1. sayı 2. sayıdan küçükse True değilse False değerini döndürür. Büyüktür operatörünün tersi işlevini görür.

In [0]:
sayi1=6.06
sayi2=6.07
print(sayi1<sayi2)
sayi2=6
# değişkene yeni değer atadığımızı gözden kaçırmayın.
print (sayi1<sayi2)
sayi2=6.06
print(sayi1<sayi2)
#İki sayı birbirine eşit bile olsa 1. sayı küçük olmadığı için False değeri döndürür.

True
False
False

**Büyük Eşittir (>=) ve Küçük Eşittir Operatörleri**<br>
Büyük eşittir >= operatörü sayısal iki  değeri karşılaştırmak için kullanılır. 1. sayı 2. sayıdan büyükse veya iki sayı eşitse True değilse False değerini döndürür. Küçük eşittir <= operatörü ise 1. sayı 2. sayıdan küçükse veya iki sayı eşitse True değilse False değerini döndürür.

In [28]:
sayi1=6.06
sayi2=6.06
print(sayi1>=sayi2)
print (sayi1<=sayi2)
#sayılar eşit olduğu için iki operatör de True değeri döndürecektir.
sayi2=6.07
print(sayi1>=sayi2)
print(sayi1<=sayi2)
#1.sayı 2. sayıdan küçük olduğu için sadece <= operatörü True değerini döndürecektir
sayi2=6.05
print(sayi1>=sayi2)
print(sayi1<=sayi2)
#sayi2 değişkeni 6.05 olduğu ve sayi1 sayi2 den büyük olacağı için sadece >= operaötürü True değeri döndürecektir.

True
True
False
True
True
False

**is ve is not operatörleri**<br>
is operatürü == operatörüyle aynı işleve sahiptir iki değerin birbiryle eşit olup olmadığını kontrol eder. Değerler eşitse True değilse False değerini verir.<br>
is not operatörü ise is operatörünün tersi işlevini görür. is not operatörü değerler farklıysa True değeri verirken değerler aynıysa False değeri verir.

In [27]:
sayi1=5
print (sayi1  is 5)
print (sayi1 is not 5) #is operatörünün tersini verir

True
False

In [0]:
# is operatörü karakter dizisinde de kullanılabilir.
print ('elif' is 'Elif')
#Yukarıdaki kod için büyük harf küçük harf duyarlılığını hatırlayın.
adi='Elif'
print (adi is 'Elif')
print (adi is not 'Elif') #is operatörünün tersini verir

False
True
False

**in ve in not operatörleri**<br>
in operatörü bir karakter dizisinin başka bir karakter dizisinde yer alıp almadığını kontrol etmek için kullanılır. Karakter dizisi diğer karakter dizisi içinde yer alıyorsa True değeri verirken yer almıyorsa False değeri verir. not in operatörü ise içinde yer almıyorsa True yer alıyorsa False değeri verir. <br>For döngüsünde farklı bir kullanımı vardır. Bu konuya ilerleyen bölümlerde değinilecektir.

In [29]:
# in operatörü kullanımı
print ('Bil' in 'Bilişim')
# 2. karaktrer dizisi içinde 1. karakter dizisi var mı?
print ('Bil' not in 'Bilişim')
# in operatörünün tersi sonuç verir

True
False

**Atama Operatörleri**
sayi1=5 olarak tanımladığımızı düşünerek örnekleri verelim.
<table >
<tr><td>İşaret	</td> <td>işlem</td><td>Örnek</td>
<td>Sonuç</td></tr>
<tr><td>+=</td> <td>Artırarak atama </td><td>sayi1+=3 </td><td>8<td>
</tr>
<tr><td>-=</td> <td>Eksilterek atama</td><td>sayi1-=3 </td><td>2<td></tr>
<tr>
<td>*=</td> <td>Çarparak atama </td><td>sayi1*=3 </td><td>15<td>
</tr>
<tr>
<td>/=</td> <td>Bölerek atama </td><td>sayi1/=3 </td><td>1.6666666666666667<td>
</tr>
<tr><td>*	*=</td> <td>Kuvvet alarak atama</td><td>sayi1**=3</td><td>125</td>
</tr>
<tr><td>//=</td> <td>Tam sayı bölerek atama</td><td>sayi1//=3</td><td>1</td>
</tr>
<tr><td>%=</td> <td>Mod alarak atama</td><td>sayi1%=3</td><td>2</td>
</tr>
<table>

**Artırarak Atama Operatörünün Kullanımı**
<br>Bir değişkenin üstüne sayısal değerleri toplayarak atama yapılmasını sağlar.  Aynı şekilde karakter dizilerinde de kullanılabilir. Aşağıdaki kod `sayi1=sayi1+3` koduyla aynı işlevi görür.

In [0]:
sayi1=5
sayi1+=3 
print (sayi1)
metin1='Merhaba '
metin1+='Mars' #metin1=metin1+"Mars" koduyla aynı işlevi görür.
print(metin1)

8
Merhaba Mars

**Eksilterek  Atama Operatörünün Kullanımı**<br>
Bir değişkenden bir sayısal değeri eksilterek aynı değişkene atama yapılmasını sağlar. Aşağıdaki kod `sayi1=sayi1-3` koduyla aynı işlevi görür.

In [0]:
sayi1=5
sayi1-=3
print (sayi1)

2

**Çarparak  Atama Operatörünün Kullanımı**<br>
Bir değişkeni bir sayısal değer ile çarparak aynı değişkene atama yapılmasını sağlar. Aşağıdaki kod `sayi1=sayi1*3` koduyla aynı işlevi görür.

In [0]:
sayi1=5
sayi1*=
print (sayi1)
#Aynı şekilde karakter dizilerinde de kullanılabilir.
metin1='Merhaba '
metin1*=3 #metin1=metin1*3 koduyla aynı işlevi görür.
print(metin1)

15
Merhaba Merhaba Merhaba

**Bölerek  Atama Operatörünün Kullanımı**<br>
Bir değişkeni bir sayısal değere bölerek aynı değişkene atama yapılmasını sağlar. Aşağıdaki kod `sayi1=sayi1/3` koduyla aynı işlevi görür.

In [0]:
sayi1=5
sayi1/=3 
print (sayi1)

1.6666666666666667

**Kuvvet Alarak  Atama Operatörünün Kullanımı**<br>
Bir değişkenin kuvvetini alarak aynı değişkene atama yapılmasını sağlar. Aşağıdaki kod `sayi1=sayi1**3` koduyla aynı işlevi görür.

In [0]:
sayi1=5
sayi1**=3 
print (sayi1)

125

**Tam Sayı Bölerek Atama Operaötürünün Kullanımı**
Bir değişkeni bir sayıya böldüğünde (ondalık kısmını atarak) aynı değişkene atama yapılmasını sağlar. Aşağıdaki kod sayi1=sayi1//3 koduyla aynı işlevi görür.

In [0]:
sayi1=5
sayi1//=3
print (sayi1)

1

**Mod Alarak Atama Operaötürünün Kullanımı**
Bir değişkeni bir sayıya böldüğünde kalanın aynı değişkene atama yapılmasını sağlar. Aşağıdaki kod sayi1=sayi1%3 koduyla aynı işlevi görür.

In [0]:
sayi1=5
sayi1%=3 
print (sayi1)

2

**Mantıksal Operatörler**<br>
Bu bölümde üç operatör verilmiştir: or, and ve not<br> or operatörü veya anlamındadır. Belirtilen koşulların birinin sağlanması halinde True değeri döndürür. Bir sayı 6'dan küçük **veya** 10'dan büyükse koşulunu düşünelim. sayımız 5 ise 6'dan küçük olduğu için bu şartı sağlayacaktır.
Sayımız 6,7,8, 9 veya 10 olsaydı iki şarttan herhangi birini sağlamadığı için False değerini verecekti.

In [0]:
sayi1=5
#or operatörü kullanımı
print (sayi1<6 or sayi1>10) 
adi='Mehmet'
print (adi=='Mehmet' or adi=='Ali')
#Adı Mehmet veya Ali ise True değerini döndürür.
meslekUnvani='Mühendis'
print (meslekUnvani=='Öğretmen' or meslek=='Doktor')
#Meslek ünvanı Öğretmen veya Doktor olmadığı için False döndürür 
print (meslekUnvani=='Öğretmen' or meslekUnvani=='Doktor' or meslekUnvani=='Mühendis')
#Meslek Ünvanı Öğretmen veya Doktor veya Mühendis'ten biri ise True değeri döndürür.
# İkiden fazla koşul için de kullanılabilir.

True
True
False
True

**and Operatörü**<br>
Bu operatör ve anlamındadır. Belirtilen koşulların hepsinin sağlanması halinde True değeri döndürür. Bir öğrencinin ders puanı 50'den büyük **ve** 60'dan küçükse koşulunu düşünelim. Öğrencinin puanı 50 ise bu iki şartı da sağlayacaktır ve True değerini verecektir.

In [30]:
ogrenciDersPuani=50
print ( ogrenciDersPuani>50 and ogrenciDersPuani<60) 
#Bu iki koşulu da sağlıyorsa True değeri döndürür. Öğrencinin ders puanı 50 ile 60 aralığındadır.
#Ve anlamındadır
adi='Mehmet'
yasi=24
print (adi=='Mehmet' and yasi>=20)
#Adı Mehmet ve yaşı en az 20 ise True değerini döndürür.
meslekUnvani='Mühendis'
askerlikDurumu='Yaptı'
isTecrubeYil=2
print (meslekUnvani=='Mühendis' and askerlikDurumu=='Yaptı')
#Meslek ünvanı Mühendis ise ve askerliğini yapmışsa True değerini döndürür.
print (meslekUnvani=='Mühendis' and askerlikDurumu=='Yaptı' and isTecrubeYil>=3)
#Meslek ünvanı Mühendis ise, askerliğini yapmışsa ve en az 3 yıl iş tecrubesi varsa True değerini döndürür.

False
True
True
False

**not Operatörü**<br>
Bu operatör değil anlamındadır. Belirtilen koşulun tersi doğruysa True değeri döndürür. Bir öğrencinin puanı 45'den küçük değilse ifadesini düşünelim. Öğrencinin puanı 50 ise True değerini döndürür.

In [31]:
ogrenciDersPuani=50
print(not(ogrenciDersPuani<45))
print (ogrenciDersPuani>45) #Yukarıdaki ifadeyle aynı işlevi görür

True

Operatörler birlikte kullanılabilir. Operatörler birlikte kullanılırken hangi işlemin önce yapılacağına dair bir öncelik sırası vardır.

**Operatörlerde Öncelik Sırası**<br>
Parantez içindeki işlemler her zaman önceliki olarak yapılır.<br>
Çarpma ve bölme işlemleri toplama ve çıkarma işlemine göre önce yapılır.<br>
Aynı derecedeki operatörlerde işlem sırası önceliği soldan sağa doğrudur.<br>
İşlemlerde öncelik sırasını düzenlemek için en iyi yöntem parantez içinde kullanmaktır.

In [0]:
print((3+5)*2) #Bu işlemin sonucunu tahmin edin. 
#Öncelikle parantez içi yapılacağında 8*2=16
print (3+5*2) #Peki ya bu işlemin sonucu kaçtır. 
#Öncelikle çarpma işlemi yapılacağından 3+10=13
print (3**2*2)
#Üs almada bir çarpma işlemidir ancak işlemler soldan sağa yapıldığı için öncelikli olarak yapılmaktadır.
print (6*7/7) # Bu işlemin sonucu? 
print (6*3/2+8/2*3) #Peki ya bu?

16
13
18
6.0
21.0

Bu bölümde temel operatörler verilmiştir. Python'da bu operatörlerin yanında başka operatörlerde yer almaktadır. Ayrıca kullandığınız python sürümüne göre farklı operatörler oalbilir.

# Alıştırmalar

In [0]:
#Aşağıdaki işlemin sonucunda print komutuyla ekrana True veya False değerlerinden hangisi çıkar?
sayi1=8*5/2
print (sayi1>20)

In [0]:
#Aşağıdaki işlemin sonucunda print komutuyla ekrana True veya False değerlerinden hangisi çıkar?
vizePuani=80
finalPuani=70
sonuc=(0.4*vizePuani)+(finalPuani*0.6)
print (sonuc>=60)

In [35]:
#Aşağıdaki değişken tanımlamalarından hangisi yanlıştır?
_sinav_puani1=80
sinavPuani=90
1sinavpuani=100
SınavPuanı=70

SyntaxError: ignored